section.landing {
  width: 100vw;
  height: 100vh;
  position: relative;

  .sec_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    z-index: 4;
    /* height: 100%; */
    width: 100%;
    height: 100%;
    padding: 49px;
    @media screen and (max-width: 992px) {
      padding: 16px;
    }
    .text_container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      flex-grow: 1;
      justify-content: center;
      @media screen and (max-width: 992px) {
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        margin-top: 150px;
      }
      .title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 17px;
        span {
          width: 34px;
          height: 34px;
          background-color: #ffffff;
          display: inline-block;
          border-radius: 50%;
          display: flex;
          @media screen and (max-width: 992px) {
            width: 30px;
            height: 30px;
          }
          .blue {
            margin: auto;
            width: 28px;
            height: 28px;
            border: 6px solid #2f4f9e;
            border-radius: 50%;
            @media screen and (max-width: 992px) {
              border: 6px solid #2f4f9e;
            }
          }
        }
        h1 {
          font-family: Cairo;
          font-size: 64px;
          font-weight: 700;
          line-height: 119.94px;
          text-align: left;
          color: white;
          @media screen and (max-width: 992px) {
            font-size: 49.62px;
          }
        }
      }

      .desc {
        // max-width: 466px;
        p {
          margin: 0;
          font-family: Cairo;
          font-size: 38.66px;
          font-weight: 300;
          line-height: 50.34px;
          text-align: right;
          margin-right: 50px;
          @media screen and (max-width: 992px) {
            font-size: 28.38px;
          }
        }
      }

      .btn_container {
        margin-top: 24px;
        margin-right: 50px;
      }
    }

    .contacts {
      display: flex;
      align-items: flex-start;
      margin-right: 50px;
      .text {
        p {
          font-family: Cairo;
          font-size: 32px;
          font-weight: 400;
          line-height: 59.97px;
          text-align: center;
        }
      }

      .icons_container {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        img {
          width: 36px;
          height: 36px;
        }
      }
    }
  }

  .img_bg_container {
    // position: absolute;
    // top: 0;
    // left: 0;
    // z-index: -1;
    .imgs_container {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          64.04deg,
          rgba(0, 0, 0, 0.2) -36.09%,
          rgba(255, 255, 255, 0.05) 99.12%
        );

        z-index: 3;
      }
      img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        filter: grayscale(28%);
        transform: scale(1.4) !important;
        cursor: pointer;
        @media screen and (max-width: 992px) {
          height: 100vh;
        }
      }

      .desktop {
        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      .mobile {
        @media screen and (min-width: 992px) {
          display: none;
        }
      }
    }
    .map_container {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0%, -28%);
      z-index: 3;
      cursor: pointer;
      z-index: 999;

      @media screen and (max-width: 992px) {
        transform: translate(-1%, 13%);
      }
      img {
        width: 550px;
        height: 450px;
        @media screen and (max-width: 992px) {
          width: unset;
          height: unset;
        }
      }
    }
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
      backdrop-filter: blur(0.8px);
      -webkit-backdrop-filter: blur(5.8px); /* Safari support */
      background: linear-gradient(
        212.11deg,
        rgba(0, 0, 0, 0.3),
        rgba(102, 102, 102, 0.3)
      );

      // background-color: red !important;
    }
  }
}
